<div>

	<%= form_for @product, html: {class:"form-horizontal form-bordered"} do |f| %>
	<p id="notice" style="color:red;"><%= notice %></p>
		<div class="form-body">
	    <div class="form-group">
	      <%= f.label :expire_date, :class=>'control-label col-md-2' %>
	      <div class="col-md-8">
	        <%= f.date_field :expire_date, :class=>"form-control" %>
	      </div>
	    </div>
	  </div>

	  <div class="form-body">
	    <div class="form-group">
	      <%= f.label :name, :class=>'control-label col-md-2' %>
	      <div class="col-md-10">
	        <%= f.text_field :name, :class=>"form-control" %>
	      </div>
	    </div>
	  </div>

	  <div class="form-body">
	    <div class="form-group">
	      <%= f.label :SKU_ID, :class=>'control-label col-md-2' %>
	      <div class="col-md-10">
	        <%= f.text_field :SKU_ID, :class=>"form-control" %>
	      </div>
	    </div>
	  </div>

	  <div class="form-body">
	    <div class="form-group">
		    <%= f.fields_for :categories, Category.new do |cat| %>
		    	<%= f.label :categories, :class=>'control-label col-md-2' %>
		    	<div class="col-md-10">
	        <%= cat.text_field :name, name: "categories[name]" %>
	        </div>
	        <% end %>
		   </div>
		</div>

	   <div class="form-body">
	    <div class="form-group">
		    <%= f.fields_for :tags, Tag.new do |tag| %>
		    	<%= f.label :tags, :class=>'control-label col-md-2' %>
		    	<div class="col-md-10">
	        <%= tag.text_field :name, name: "tags[name]" %>
	        </div>
	        <% end %>
		   </div>
		</div>

		<div class="form-body">
	    <div class="form-group">
		    <%= f.fields_for :vars, Var.new do |var| %>
		    	<%= f.label :var_color, :class=>'control-label col-md-2' %>
		    	<div class="col-md-10">
	        <%= var.text_field :color, name: "vars[color]" %>
	        </div>
	       <% end %>
		   </div>
		</div>

	  <div class="form-body">
	    <div class="form-group">
		    <%= f.fields_for :models, Model.new do |model| %>
	        <%= f.label :var_models, :class=>'control-label col-md-2' %>
		    	<div class="col-md-10">
	        <%= model.text_field :name, name: "models[name]" %>
	        </div>
        <% end %>
		   </div>
		</div>

	  <div class="form-body">
	    <div class="form-group">
		    <%= f.fields_for :product_pictures, ProductPicture.new do |image_form| %>
		    	<%= f.label :Pictures, :class=>'control-label col-md-2' %>
		    	<div class="col-md-10">
	        <%= image_form.file_field :url, multiple: true, name: "product[product_pictures_attributes][][url]" %>
	        </div>
	        <% end %>
		   </div>
		</div>

	  <div class="form-body">
	    <div class="form-group">
	      <%= f.label :price, :class=>'control-label col-md-2' %>
	      <div class="col-md-10">
	        <%= f.text_field :price, :class=>"form-control" %>
	      </div>
	    </div>
	  </div>

	  <div class="form-body">
	    <div class="form-group">
	      <%= f.label :description, :class=>'control-label col-md-2' %>
	      <div class="col-md-10">
	        <%= f.text_area :description, :class=>"form-control" %>
	      </div>
	    </div>
	  </div>

	  <div class="form-actions">
	    <div class="row">
	      <div class="col-md-offset-2 col-md-10">
	        <%= f.submit :class=>'btn green' %>
	      </div>
	    </div>
	  </div>

	<% end %>
</div>
